@font-face {
    font-family: "Gilroy";  
    src: url("../fonts/Gilroy-SemiBold.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 600;
}

@font-face {
    font-family: "Gilroy";  
    src: url("../fonts/Gilroy-Bold.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 800;
}

@font-face {
    font-family: "Gilroy";  
    src: url("../fonts/Gilroy-Medium.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 300;
}

@font-face {
    font-family: "Gilroy";  
    src: url("../fonts/Gilroy-Regular.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 400;
}