@font-face {
    font-family: "Larsseit";  
    src: url("../fonts/Larsseit-ExtraBold.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 800;
}

@font-face {
    font-family: "Larsseit";  
    src: url("../fonts/Larsseit-Bold.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 600;
}

@font-face {
    font-family: "Larsseit";  
    src: url("../fonts/Larsseit-Medium.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 400;
}

@font-face {
    font-family: "Larsseit";  
    src: url("../fonts/Larsseit-Light.woff") format("truetype"); 
    font-style: normal; 
    font-weight: 300;
}

