.main-section {
    background-image: url(../img/main-section_bg.png);
    background-repeat: no-repeat;
    background-size: cover;    
    padding-top: 3.945%;
    position: relative;
    margin-bottom: 75px;

    .soc-icons{
        flex-direction: column;
        justify-content: flex-end;
        height: 100%;
    }

    &__menu {
        .row {
            justify-content: space-between;
            align-items: center;
        }
    }

    &__content {
        max-width: 643px;
        margin: 0 auto;
        text-align: center;
        padding-top: 10.84%;
        margin-bottom: 14%;

        .subtitle {
            font-weight: 400;
            margin-bottom: 50px;
        }

        .title {
            margin-bottom: 32px;
            line-height: 115%;
        }
    }

    &__item{
        padding-bottom: 10%;
        .row{
            justify-content: space-between;
        }
    }

    &__gradient{
        position: absolute;
        right: 0;
        left: 0;
        bottom: -90px;

        img{
            width: 100%;
        }
    }

    .nav {
        display: flex;
        align-items: center;
        gap: 32px;
        margin-right: 15px;

        &__search {
            cursor: pointer;
        }
    }
}

.item-scroll {
    width: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 135px;
}

.item-scroll__text {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    opacity: 0.9;
    transform: rotate(-90deg);
    letter-spacing: 0.05em;
}

.item-scroll__elem {
    display: inline-block;
    width: 2px;
    height: 80px;
    background: linear-gradient(180deg, #09f4f4 0%, #00c9e0 100%);
    border-radius: 13px;
}

.nav-mob__gamburger{
    display: none;
}

@media (max-width:1440px){
    .main-section{
        padding-left: 20px;
        padding-right: 20px;       
    }        
}

@media (max-width:650px){
    .main-section .title{
        font-size: 18vw;
    }
}

@media (max-width:455px){
    .main-section .title{
        font-size: 17vw;
    }
}

@media (max-width:480px){
    .main-section .nav{
        display: none;
    }

    .nav-mob__gamburger{
        position: relative;
        display: block;
        height: 2px;
        background-color: #fff;
        width: 40px;

        &::after{
            content: ' ';
            position: absolute;
            width: 40px;
            height: 2px;
            top: 10px;
            background-color: #fff;
        }

        &::before{
            content: ' ';
            position: absolute;
            width: 40px;
            height: 2px;
            bottom: 10px;
            background-color: #fff;
        }
    }
}

