.tabs {
    &__menu {
        ul {
            display: flex;
            padding: 0;
            margin: 0 0 150px 0;
            flex-wrap: wrap;
            li {
                flex: 1;
                text-align: center;
                color: rgba($color: #fff, $alpha: 0.5);
                cursor: pointer;
                border-bottom: 2px solid rgba($color: #41ead4, $alpha: 0.3);
                padding: 35px 0;
                font-size: 18px;
                font-weight: 400;
                position: relative;
                &.active{
                    color: #41EAD4;                    
                    &::after{
                        position: absolute;
                        content: '';
                        left: 0;
                        right: 0;
                        height: 4px;
                        background-color: #41ead4;
                        border-radius: 13px;
                        bottom: -2px;
                    }

                }
            }
        }
    }
}

.tabs__content {
    display: none;    
    .col {
        width: 50%;
    }

    &.active{
        display: block;
    }
}

.tabs__content-social {
    position: absolute;
    bottom: 24px;
    right: -166px;
}

.tabs-social-decor {
    width: 133px;
    height: 32px;
    background-image: url(../img/tab-soc-decor.svg);
    background-repeat: no-repeat;
    position: absolute;
    top: 55px;
}

.tabs-social-title {
    font-weight: 400;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 0.15em;
    margin-bottom: 20px;
}

.tabs__content-description {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    gap: 40px;
    max-width: 485px;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.tabs__content-subtitle {
    font-weight: 400;
}

.tab-slider__info-decor {
    background: url(../img/slider-info-decor.svg);
    height: 13px;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

@media (max-width: 1440px){
    .tabs__content{
        .col{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }    
}

@media (max-width: 860px){
    .tabs__menu ul li{
        flex: 1 0 100%;
    }
}