.trip-section__title {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 50px;
}

.trip-section__title-text {
    max-width: 350px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
}

.tabs{
    &__menu{
        ul{
            display: flex;
            padding: 0;
            margin: 0 0 150px 0;
            li{
                flex: 1;
                text-align: center;
                color: rgba($color: #fff, $alpha: 0.5);
                cursor: pointer;
                border-bottom: 2px solid rgba($color: #41EAD4, $alpha: 0.3);
                padding: 35px 0;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}

.tabs__content{
    margin-bottom: 100px;
}

.tab-slider{
   
    &__item{
        position: relative;
    }

    &__nav{
        position: absolute;
        bottom: 4px;
        right: 0;
        display: flex;
        gap: 2px;
        background-color: #133149;
        border-radius: 10px 0 10px 0;
        *{
            width: 65px;
            height: 65px;
            background:#011627;
            box-shadow: -10px 14px 24px rgba(1, 22, 39, 0.08);
            background-repeat: no-repeat;
            background-position: center center;
            cursor: pointer;
            
        }

        .prew-arrow{
            background-image: url(../img/slider-arrow-prew.svg);
            border-radius: 10px 0 0 0;
        }

        .next-arrow{
            background-image: url(../img/slider-arrow-next.svg);
            border-radius: 0 0 10px 0;
        }
    }
}