.trip-section {
    padding-top: 30px;
    padding-bottom: 150px;
}

.trip-section__title {
    display: flex;
    align-items: center;
    gap: 32px;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.trip-section__title-text {
    max-width: 350px;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
}

@import "tabs";
@import "tabs-slider";

@media(max-width:1440px){
    .trip-section{
        padding-left: 20px;
        padding-right: 20px;
    }
}