
@function col-width($n){
    @return calc(100%/12*$n);
}

$columns: 12;
$gutter: 10px;
$gutter-column: calc($gutter / 2);

// Цикл создает колонки определенной ширины. Ширина вычитается при помощи функции
@for $i from 1 through 12 {
    .col-#{$i} {
        width: col-width($i);
    }
}


.col {
  position: relative;  
  padding-right: $gutter-column;
  padding-left: $gutter-column;
  box-sizing: border-box;
}

.row {    
    display: flex;
    flex-wrap: wrap;
    margin-right: -$gutter-column;
    margin-left: -$gutter-column;  
}

$adaptive-breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);

@each $size in map-keys($adaptive-breakpoints){
    @media (min-width: map_get($adaptive-breakpoints, $size)){
        @for $i from 1 through $columns{
            .column-#{$size}-#{$i}{
                flex: 0 0 col-width($i);
                max-width: col-width($i);                
            }
        }
    }
}