.feedback {
    margin-bottom: 150px;
    &__title {
        text-align: center;
        margin-bottom: 70px;
        h2 {
            margin-bottom: 30px;
        }
    }

    &__subtitle {
        font-size: 24px;
        letter-spacing: 0.15em;
        font-weight: 400;
    }
}

.feedback__bg-container {
    max-width: 1680px;
    background-color: #011627;
    border-radius: 8px;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;

    &::after,&::before{
        content: ' ';
        position: absolute;
        width: 2px;
        height: 80px;
        background: linear-gradient(180deg, #09F4F4 0%, #00C9E0 100%);
        border-radius: 13px;
        right: 50%;
        
    }

    &::after{
        bottom:0;
        transform: translate(-50%, 40px);
    }

    &::before{
        top:0;
        transform: translate(-50%, -40px);
    }
}

.feedback-card {
    width: 510px;
    background: #02223b;
    box-shadow: 0px 20px 30px rgba(0, 201, 224, 0.03);
    border-radius: 5px;
    padding: 75px 0;
    box-sizing: border-box;

    &__content {
        max-width: 334px;
        margin: 0 auto;
    }

    &__text {
        font-size: 18px;
        line-height: 190%;
        margin-bottom: 30px;

        p:first-child {
            margin-bottom: 30px;
        }
    }

    &__user {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    &__username {
        letter-spacing: 0.15em;
        text-transform: uppercase;

        p{
            line-height: 170%;
            font-weight: 400;
            font-size: 12px; 
        }
    }
}

.feedback-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;    
}

.feedback__footer{
    display: flex;
   align-items: center;
    flex-direction: column;
    margin-top: 150px;
    padding-bottom: 145px;
}

.feedback__footer-subtitle{
    font-size: 24px;
    line-height: 150%;   
    letter-spacing: 0.07em;
    font-weight: 400;
    max-width: 388px;
    text-align: center;
    margin-top: 30px;    
}

@media (max-width:480px) {
    .feedback-card__content{
        padding: 0 10px;
    }
}

@media screen and (max-width: 570px) {
    .feedback-card{
        width: 100%;
    }

    .feedback__title{
        margin-bottom: 40px;
    }

    .feedback__footer{
        margin-top: 70px;
    }

    .feedback__footer h2{
        font-size: 12.63vw;
    }

    .feedback__footer-subtitle{
        font-size: 4.22vw;
    }

    .feedback__title h2{
        font-size: 12.63vw;
        margin-bottom: 20px;
    }

    .feedback__subtitle{
        font-size: 4.22vw;
        margin-top: 15px;
    }

    .feedback__bg-container::after{
        transform: translate(-50%,-20px);
    }
}