@import "fonts";
@import "function";

body {
    font-family: "Larsseit", sans-serif;
    margin: 0;
    background-color: #011627;
}



a{
    text-decoration: none;    
}

ul{
    list-style: none;
}

h1{
    margin: 0;
    color: #fff;
    line-height: 153px;
    font-size: 120px;
}

h2{
    color: #fff;
    font-weight: 700;
    font-size: 72px;
    line-height: 115%;
    letter-spacing: -0.04em;
    margin: 0;
}

h3{
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    font-weight: 400;
}

p{
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    line-height: 150%;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.d_flex{
    display: flex;
}

.jc_center{
    justify-content: center;
}

.jc_end{
    justify-content: end;
}

.content-bg-container{
    background-image: url(../img/contetn-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    // background-position: 0 -269px;
}

.content-container {    
    max-width: 1430px;
    margin: 0 auto;
}

.container{   
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    background: #00c9e0;
    box-shadow: 5px 15px 40px rgba(0, 201, 224, 0.2);
    border-radius: 48px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    letter-spacing: 0.1rem;
    padding: 20.5px 0;
    cursor: pointer;
    position: relative;

    &::after{
        position: absolute;
        content: ' ';
        width: 30px;
        height: 2px;
        background-color: #fff;
        right: -15px;
        top: 50%;
    }
}

.btn-menu{
    width: 167px;    
}

.def_btn{
    width: 282px;
    text-transform: uppercase;
}

.soc-ico{    
    line-height: 11px;
}

.soc-icons{
    display: flex;    
    align-items: center;  
    gap: 23px;
    position: relative;
    z-index: 99;
}

.fw_bold{
    font-weight: 400;
}

.fw_thin{
    font-weight: 200;
}



@import "main-section";
@import "trip-section";
@import "about-us";
@import "feedback";
@import "footer";