section.about-us
    .content-container
        .container
            .row
                .col
                    .about-us__description 
                        h2.about-us__title About Us
                        .about-us__text 
                            p.fw_bold We’re a team of four passioned people.
                            p.fw_thin We’re ready to take the world by storm and let you find new travel opportunities.
                            p.fw_thin Our everyday task is to make sure that you satisfied with the services and products that we provide. 
                            p.fw_bold With 💖 from Amsterdam, Netherlands.
                        .btn.def_btn READ MORE ABOUT US
                .col
                    .about-us__gallery
                        .gallery-container
                            .gallery__item
                                img(src="img/about-us-gallery__img-1.jpg", alt="")
                                .gallery__item-blackening
                                .gallery__item-tip 
                                    p MARTIN JACK, 
                                        span.rank CEO
                            .gallery__item
                                img(src="img/about-us-gallery__img-1.jpg", alt="")
                                .gallery__item-blackening
                                .gallery__item-tip 
                                    p MARTIN JACK, 
                                        span.rank CEO
                            .gallery__item
                                img(src="img/about-us-gallery__img-1.jpg", alt="")
                                .gallery__item-blackening
                                .gallery__item-tip 
                                    p MARTIN JACK, 
                                        span.rank CEO
                            .gallery__item
                                img(src="img/about-us-gallery__img-1.jpg", alt="")
                                .gallery__item-blackening
                                .gallery__item-tip 
                                    p MARTIN JACK, 
                                        span.rank CEO
                        .gallery__decor 
                            img(src="img/about-us-gallery_decor.svg", alt="")