section.feedback
    .feedback__bg-container
        .content-container
            .container
                .feedback__title 
                    h2 People’s thoughts
                    p.feedback__subtitle SEE WHAT ARE OTHERS SAYING
                .feedback-cards
                    