section.main-section
    .content-container
        .main-section__menu
            .row
                .col
                    .main-section__logo
                        img(src="img/logo.svg" alt="")
                .col
                    .nav
                        .nav__search
                            img(src="img/search-ico.svg" alt="")
                        a(href="#").btn.btn-menu menu
                    .nav-mob 
                        .nav-mob__gamburger
        .main-section__content
            h1.title Night Trips
            p.subtitle WE GOT TRIPS FOR THE TRIPPSTER IN YOU
            p Neque, eros commodo, nascetur ullamcorper vitae. Tincidunt ut venenatis, volutpat lorem ut faucibus mauris, quisque. Integer gravida sed quis congue. Vel risus, arcu a viverra leo id pulvinar ultricies. Enim in in in pulvinar nulla sollicitudin. Ullamcorper.
        .main-section__item
            .row 
                .col
                    .item-scroll
                        p.item-scroll__text scroll 
                        span.item-scroll__elem
                .col
                    .soc-icons
                        a.soc-ico(href="twitter.com")
                            img(src="img/ico-twitter.svg" alt="")
                        a.soc-ico(href="instagram.com")
                            img(src="img/ico-instagram.svg" alt="")
                        a.soc-ico(href="facebook.com")
                            img(src="img/ico-facebook.svg" alt="")
    .main-section__gradient
        img(src="img/main-section-bottom-gradient.png" alt="")
    
