.row 
    .col 
        .tab-slider
            .tab-slider__item
                .tab-slider__img
                    img(src="img/slider-img_1.png" alt="")
                .tab-slider__nav
                    .prew-arrow
                    .next-arrow
                .tab-slider__info
                    .tab-slider__info-decor
                    .tab-slider__num 01
                    p.tab-slider__name GRAND DUNES LANDSCAPE
            .tab-slider__decor
    .col
        .tabs__content-description
            h2.tabs__content-title=item.title
            p.tabs__content-subtitle Ornare vivamus molestie pellentesque nunc. Sed sapien erat ultrices curabitur. Erat id fringilla arcu condimentum fames.
            p.tabs__content-text Aliquet dictum aliquet faucibus cursus turpis. Suspendisse cum rutrum sit ut sociis. Pellentesque neque orci adipiscing pharetra lacus, dignissim pharetra ipsum blandit. Feugiat quis quam consectetur lectus id quis tortor vel, mattis.
            a.btn.def_btn SEE OUR LATEST OFFER
            .tabs__content-social
                p.tabs-social-title SHARE IT:
                .soc-icons
                    a.soc-ico(href="instagram.com")
                        img(src="img/ico-instagram.svg" alt="")
                    a.soc-ico(href="facebook.com")
                        img(src="img/ico-facebook.svg" alt="")
                    a.soc-ico(href="twitter.com")
                        img(src="img/ico-twitter.svg" alt="")
                .tabs-social-decor