section.trip-section
    .content-container
        .trip-section__title
            h2 Pick your trip
            .title_divider 
                img(src="img/title-divider.svg", alt="")
            p.trip-section__title-text Our team put together some trips to you to discover, feel free to discover each of them.

